---
import { Links } from '../../components/Link/Links'
import { PulsatingHeader } from '../../components/PulsatingHeader/PulsatingHeader'
import LayoutPage from '../../layouts/LayoutPage.astro'
---

<LayoutPage
  title="Understrøm"
  description="The theme melody for the episodic movie Understrøm."
>
  <Fragment slot="over-header">
    <PulsatingHeader client:idle time={5000}>Understrøm</PulsatingHeader>
  </Fragment>
  <span slot="subtitle">by lebchen, featuring Sad Alien</span>
  <Links
    amazon="https://music.amazon.com/tracks/B0DGML485R?marketplaceId=ATVPDKIKX0DER&musicTerritory=US&ref=dm_sh_BC17n6wPgVZRObuMU7p90QPt9"
    anghami="https://play.anghami.com/song/1176542614"
    boomplay="https://www.boomplay.com/songs/181504063?from=artists&srModel=COPYLINK&srList=WEB"
    spotify="https://open.spotify.com/track/39dChnxQtgO1vaGMFTw1Nt"
    tidal="https://tidal.com/browse/track/386483614"
    youtube="https://www.youtube.com/watch?v=6MbXVbC2v0E"
  />
</LayoutPage>
