---

---

<div class="social-media">
	<a class="social-media__link" target="_blank" href="https://lebchen.bandcamp.com/follow_me">
	  <span class="button-logo">
		<img class="favicon" src="ikoner/favicon-16x16.png">
	  </span>
	  <span>Bandcamp</span>
	</a>
	<a class="social-media__link" target="_blank" href="https://www.facebook.com/LebchenRocks/">
	  <span class="button-logo">
		<img class="favicon" src="ikoner/hLRJ1GG_y0J.ico">
	  </span>
	  <span>Facebook</span>
	</a>
	<a class="social-media__link" target="_blank" href="https://www.instagram.com/lebchen.rocks/">
	  <span class="button-logo">
		<img class="favicon" src="ikoner/VsNE-OHk_8a.png">
	  </span>
	  <span>Instagram</span>
	</a>
	<a class="social-media__link" target="_blank" href="https://www.youtube.com/playlist?list=PLO8tZlXTVwX365kDMpdRL-rTwkR_TiTMO">
	  <span class="button-logo">
		<img class="favicon" src="services/youtube-104-432560.webp">
	  </span>
	  <span>Youtube</span>
	</a>
	<a class="social-media__link" target="_blank" href="https://soundcloud.com/lebchen">
	  <span class="button-logo">
		<img class="favicon" src="ikoner/favicon-2cadd14bdb.ico">
	  </span>
	  <span>Soundcloud</span>
	</a>
  </div>

<style>

.social-media {
  text-align: center;
  background-color: #252525;
  width: 100%;
  padding: 8px 0 4px 0;
}

.social-media__link {
  color: #d1d1d1;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  display: inline-flex;
  text-decoration: none;
  padding: 0 24px;
}

.button-logo {
  margin-right: 4px;
  margin-left: 10px;
}

.favicon {
  height: 16px;
  width: 16px;
}
</style>