---
import { Links } from '../../components/Link/Links'
import LayoutPage from '../../layouts/LayoutPage.astro'
---

<LayoutPage
  title="Prelude 4 Opus 28 (Chopin) feat. Sad Alien"
  description="Stream 'Prelude 4 Opus 28 (Chopin) (feat. Sad Alien)' by lebchen, out on all major platforms now!"
>
  <span slot="subtitle">Prelude 4 Opus 28 (Chopin) feat. Sad Alien</span>
  <Links
    apple="https://music.apple.com/us/album/prelude-4-opus-28-chopin-feat-sad-alien-single/1654084163"
    bandcamp="https://nightridefm.bandcamp.com/album/a-tribute-to-dave-smith"
    deezer="https://www.deezer.com/us/album/375922207"
    spotify="https://open.spotify.com/album/6MwZ9QnG2s9vjbOAiBWAmJ"
    tidal="https://tidal.com/browse/track/259853944"
    youtube="https://www.youtube.com/watch?v=jzYtmLy7V3s"
  />
</LayoutPage>
