---
import { PlayerWrapper } from '../../components/mp3-player/Player'

const artwork = [
  { src: '/crosssnow/Cover96.jpg', sizes: '96x96', type: 'image/png' },
  {
    src: '/crosssnow/Cover128.jpg',
    sizes: '128x128',
    type: 'image/png',
  },
  {
    src: '/crosssnow/Cover192.jpg',
    sizes: '192x192',
    type: 'image/png',
  },
  {
    src: '/crosssnow/Cover256.jpg',
    sizes: '256x256',
    type: 'image/png',
  },
  {
    src: '/crosssnow/Cover384.jpg',
    sizes: '384x384',
    type: 'image/png',
  },
  {
    src: '/crosssnow/Cover512.jpg',
    sizes: '512x512',
    type: 'image/png',
  },
]

const chaseArtwork = [
	  { src: '/crosssnow/Chase96.jpg', sizes: '96x96', type: 'image/png' },
  {
	src: '/crosssnow/chase128.jpg',
	sizes: '128x128',
	type: 'image/png',
  },
  {
	src: '/crosssnow/chase192.jpg',
	sizes: '192x192',
	type: 'image/png',
  },
  {
	src: '/crosssnow/chase256.jpg',
	sizes: '256x256',
	type: 'image/png',
  },
  {
	src: '/crosssnow/chase384.jpg',
	sizes: '384x384',
	type: 'image/png',
  },
  {
	src: '/crosssnow/chase512.jpg',
	sizes: '512x512',
	type: 'image/png',
  },
]

const josefArtwork = [
	  { src: '/crosssnow/josef96.jpg', sizes: '96x96', type: 'image/png' },
  {
	src: '/crosssnow/josef128.jpg',
	sizes: '128x128',
	type: 'image/png',
  },
  {
	src: '/crosssnow/josef192.jpg',
	sizes: '192x192',
	type: 'image/png',
  },
  {
	src: '/crosssnow/josef256.jpg',
	sizes: '256x256',
	type: 'image/png',
  },
  {
	src: '/crosssnow/josef384.jpg',
	sizes: '384x384',
	type: 'image/png',
  },
  {
	src: '/crosssnow/josef512.jpg',
	sizes: '512x512',
	type: 'image/png',
  },
]

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Crosssnow</title>
  </head>
  <body>
    <PlayerWrapper
      client:only
      songs={[
        {
          name: 'Crosssnow',
          artist: 'lebchen',
          src: '/crosssnow/01 lebchen - CrossSnow.mp3',
          duration: '02:17',
          artwork,
        },
        {
          name: 'Fateful Chase',
          artist: 'lebchen',
          src: '/crosssnow/02 lebchen - Fateful Chase.mp3',
          duration: '04:13',
          artwork: chaseArtwork,
        },
        {
          name: 'Enter Josef',
          artist: 'lebchen',
          src: '/crosssnow/03 lebchen - Enter Josef.mp3',
          duration: '00:57',
          artwork: josefArtwork,
        },
        {
          name: 'Robbery',
          artist: 'lebchen',
          src: '/crosssnow/04 lebchen - Robbery.mp3',
          duration: '02:14',
          artwork,
        },
        {
          name: 'Poor Rapists',
          artist: 'lebchen',
          src: '/crosssnow/05 lebchen - Poor Rapists.mp3',
          duration: '02:00',
          artwork,
        },
        {
          name: 'The Hitman',
          artist: 'lebchen',
          src: '/crosssnow/06 lebchen - The Hitman.mp3',
          duration: '01:55',
          artwork,
        },
        {
          name: 'Pornogris',
          artist: 'lebchen',
          src: '/crosssnow/07 lebchen - Pornogris.mp3',
          duration: '04:37',
          artwork,
        },
        {
          name: 'Afterglow Bliss',
          artist: 'lebchen',
          src: '/crosssnow/08 lebchen - Afterglow Bliss.mp3',
          duration: '03:41',
          artwork,
        },
        {
          name: 'Back Alley Brawl',
          artist: 'lebchen',
          src: '/crosssnow/09 lebchen - Back Alley Brawl.mp3',
          duration: '04:40',
          artwork,
        },
        {
          name: 'Torture',
          artist: 'Cuneax',
          src: '/crosssnow/10 Cuneax - Torture.mp3',
          duration: '01:09',
          artwork,
        },
        {
          name: 'Heartbroken',
          artist: 'Cuneax',
          src: '/crosssnow/11 Cuneax - Heartbroken.mp3',
          duration: '01:01',
          artwork,
        },
        {
          name: 'The Car Chase',
          artist: 'lebchen',
          src: '/crosssnow/12 lebchen - The Car Chase.mp3',
          duration: '03:45',
          artwork,
        },
        {
          name: 'Spenning',
          artist: 'lebchen',
          src: '/crosssnow/13 lebchen - Spenning.mp3',
          duration: '04:19',
          artwork,
        },
        {
          name: 'Fight Club',
          artist: 'lebchen',
          src: '/crosssnow/14 lebchen - Fight Club.mp3',
          duration: '02:17',
          artwork,
        },
        {
          name: 'Slip Into Nothing',
          artist: 'lebchen',
          src: '/crosssnow/15 lebchen - Slip Into Nothing.mp3',
          duration: '03:43',
          artwork,
        },
        {
          name: 'Sword Fight',
          artist: 'lebchen',
          src: '/crosssnow/16 lebchen - Sword Fight.mp3',
          duration: '03:22',
          artwork,
        },
        {
          name: 'Suspense',
          artist: 'lebchen',
          src: '/crosssnow/17 lebchen - Suspense.mp3',
          duration: '01:13',
          artwork,
        },
        {
          name: 'Le Malheureux',
          artist: 'Lars-Erik Bruce',
          src: '/crosssnow/18 lebchen - Le Malheureux.mp3',
          duration: '03:57',
          artwork,
        },
      ]}
      playlistName="Crosssnow OST"
    />
  </body>
</html>

<style>
  .body {
    background-color: #000;
    color: #fff;
  }
</style>
