---
import { SEO } from 'astro-seo'
import { BackgroundImage } from '../../components/BackgroundImage/BackgroundImage'
import { PlayerWrapper } from '../../components/mp3-player/Player'

const artwork = [
  { src: '/crosssnow/Cover96.jpg', sizes: '96x96', type: 'image/png' },
  {
    src: '/crosssnow/Cover128.jpg',
    sizes: '128x128',
    type: 'image/png',
  },
  {
    src: '/crosssnow/Cover192.jpg',
    sizes: '192x192',
    type: 'image/png',
  },
  {
    src: '/crosssnow/Cover256.jpg',
    sizes: '256x256',
    type: 'image/png',
  },
  {
    src: '/crosssnow/Cover384.jpg',
    sizes: '384x384',
    type: 'image/png',
  },
  {
    src: '/crosssnow/Cover512.jpg',
    sizes: '512x512',
    type: 'image/png',
  },
]

const chaseArtwork = [
  { src: '/crosssnow/Chase96.jpg', sizes: '96x96', type: 'image/png' },
  {
    src: '/crosssnow/chase128.jpg',
    sizes: '128x128',
    type: 'image/png',
  },
  {
    src: '/crosssnow/chase192.jpg',
    sizes: '192x192',
    type: 'image/png',
  },
  {
    src: '/crosssnow/chase256.jpg',
    sizes: '256x256',
    type: 'image/png',
  },
  {
    src: '/crosssnow/chase384.jpg',
    sizes: '384x384',
    type: 'image/png',
  },
  {
    src: '/crosssnow/chase512.jpg',
    sizes: '512x512',
    type: 'image/png',
  },
]

const josefArtwork = [
  { src: '/crosssnow/josef96.jpg', sizes: '96x96', type: 'image/png' },
  {
    src: '/crosssnow/josef128.jpg',
    sizes: '128x128',
    type: 'image/png',
  },
  {
    src: '/crosssnow/josef192.jpg',
    sizes: '192x192',
    type: 'image/png',
  },
  {
    src: '/crosssnow/josef256.jpg',
    sizes: '256x256',
    type: 'image/png',
  },
  {
    src: '/crosssnow/josef384.jpg',
    sizes: '384x384',
    type: 'image/png',
  },
  {
    src: '/crosssnow/josef512.jpg',
    sizes: '512x512',
    type: 'image/png',
  },
]

const poorArtwork = [
  { src: '/crosssnow/poor96.jpg', sizes: '96x96', type: 'image/png' },
  {
    src: '/crosssnow/poor128.jpg',
    sizes: '128x128',
    type: 'image/png',
  },
  {
    src: '/crosssnow/poor192.jpg',
    sizes: '192x192',
    type: 'image/png',
  },
  {
    src: '/crosssnow/poor256.jpg',
    sizes: '256x256',
    type: 'image/png',
  },
  {
    src: '/crosssnow/poor384.jpg',
    sizes: '384x384',
    type: 'image/png',
  },
  {
    src: '/crosssnow/poor512.jpg',
    sizes: '512x512',
    type: 'image/png',
  },
]

const hitmanArtwork = [
  { src: '/crosssnow/hitman96.jpg', sizes: '96x96', type: 'image/png' },
  {
    src: '/crosssnow/hitman128.jpg',
    sizes: '128x128',
    type: 'image/png',
  },
  {
    src: '/crosssnow/hitman192.jpg',
    sizes: '192x192',
    type: 'image/png',
  },
  {
    src: '/crosssnow/hitman256.jpg',
    sizes: '256x256',
    type: 'image/png',
  },
  {
    src: '/crosssnow/hitman384.jpg',
    sizes: '384x384',
    type: 'image/png',
  },
  {
    src: '/crosssnow/hitman512.jpg',
    sizes: '512x512',
    type: 'image/png',
  },
]

const songs = [
  {
    name: 'CrossSnow theme',
    artist: 'lebchen',
    src: '/crosssnow/01 lebchen - CrossSnow theme.mp3',
    duration: '02:29',
    artwork,
  },
  {
    name: 'Fateful Chase',
    artist: 'lebchen',
    src: '/crosssnow/02 lebchen - Fateful Chase.mp3',
    duration: '04:15',
    artwork: chaseArtwork,
  },
  {
    name: 'Engines Idle, Guns Loud',
    artist: 'lebchen',
    src: '/crosssnow/03 lebchen - Engines Idle, Guns Loud.mp3',
    duration: '03:04',
    artwork: josefArtwork,
  },
  {
    name: 'Poor Rapists',
    artist: 'lebchen',
    src: '/crosssnow/04 lebchen - Poor Rapists.mp3',
    duration: '01:37',
    artwork: poorArtwork,
  },
  {
    name: 'The Hitman',
    artist: 'lebchen',
    src: '/crosssnow/05 lebchen - The Hitman.mp3',
    duration: '01:55',
    artwork: hitmanArtwork,
  },
  {
    name: 'Porn Pig',
    artist: 'lebchen',
    src: '/crosssnow/06 lebchen - Porn Pig.mp3',
    duration: '03:57',
    artwork,
  },
  {
    name: 'Afterglow Bliss (feat. Ofat)',
    artist: 'lebchen',
    src: '/crosssnow/07 lebchen - Afterglow Bliss (feat. Ofat).mp3',
    duration: '03:44',
    artwork,
  },
  {
    name: 'Back Alley Brawl',
    artist: 'lebchen',
    src: '/crosssnow/08 lebchen - Back Alley Brawl.mp3',
    duration: '04:36',
    artwork,
  },
  {
    name: 'Torture',
    artist: 'Cuneax',
    src: '/crosssnow/09 Cuneax - Torture.mp3',
    duration: '01:09',
    artwork,
  },
  {
    name: 'Heartbroken',
    artist: 'Cuneax',
    src: '/crosssnow/10 Cuneax - Heartbroken.mp3',
    duration: '01:01',
    artwork,
  },
  {
    name: 'Rubber and Rage',
    artist: 'lebchen',
    src: '/crosssnow/11 lebchen - Rubber and Rage.mp3',
    duration: '02:18',
    artwork,
  },
  {
    name: 'Splinter Seam',
    artist: 'lebchen',
    src: '/crosssnow/12 lebchen - Splinter Seam.mp3',
    duration: '04:00',
    artwork,
  },
  {
    name: 'Slip Into Nothing',
    artist: 'lebchen',
    src: '/crosssnow/13 lebchen - Slip Into Nothing.mp3',
    duration: '03:46',
    artwork,
  },
  {
    name: 'Raw Impact',
    artist: 'lebchen',
    src: '/crosssnow/14 lebchen - Fight Club.mp3',
    duration: '02:17',
    artwork,
  },
  {
    name: 'Blades in Red',
    artist: 'lebchen',
    src: '/crosssnow/15 lebchen - sword fight.mp3',
    duration: '03:22',
    artwork,
  },
  {
    name: 'Under the Surface',
    artist: 'lebchen',
    src: '/crosssnow/16 lebchen - Under the Surface.mp3',
    duration: '01:48',
    artwork,
  },
  {
    name: 'Le Malheureux',
    artist: 'Lars-Erik Bruce',
    src: '/crosssnow/17 Lars-Erik Bruce - Le Malheureux.mp3',
    duration: '03:57',
    artwork,
  },
]
const image = '/crosssnow/Cover512.jpg'
const title = 'CrossSnow Special Edition Original Motion Picture Soundtrack'
const description =
  'The complete soundtrack to the movie CrossSnow Special Edition. This album features the original score by lebchen and additional tracks by Cuneax and Lars-Erik Bruce from the movie.'
const audio = songs[0].src
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      canonical={'https://lebchen.rocks' + Astro.url.pathname}
      openGraph={{
        basic: {
          title: title,
          type: 'website',
          image: "/crosssnow/Cover512.jpg",
          url: 'https://lebchen.rocks' + Astro.url.pathname,
        },
        optional: {
          description,
          audio: audio,
          locale: 'en_US',
        },
        image: {
          url: image,
          secureUrl: image,
          type: 'image/jpeg',
          width: 1200,
          height: 630,
          alt: title,
        },
        article: {
          authors: ['lebchen'],
          section: 'Music',
          tags: ['synthwave'],
        },
      }}
      twitter={{
        card: 'summary_large_image',
        title,
        description,
        image,
        imageAlt: title,
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Crosssnow</title>
  </head>
  <body>
    <BackgroundImage src="/crosssnow/Cover512.jpg" client:only>
      <PlayerWrapper
        client:only
        songs={songs}
        playlistName="Crosssnow OST"
        links={{
          amazon: 'https://music.amazon.com/albums/B0DV72BVMZ',
          anghami: 'https://play.anghami.com/album/1063859160',
          bandcamp: 'https://lebchen.bandcamp.com/album/crosssnow-special-edition-original-motion-picture-soundtrack',
          apple:
            'https://music.apple.com/us/album/crosssnow-special-edition-original-motion-picture-soundtrack/1793315594',
          boomplay: 'https://www.boomplay.com/albums/105623274',
          deezer: 'https://www.deezer.com/us/album/704051611',
          spotify: 'https://open.spotify.com/album/2Um5ok5MKfCm5YBxhwUhSG',
          tidal: 'https://tidal.com/browse/album/414123685',
          youtube:
            'https://www.youtube.com/watch?v=tNZ5z5TAiSk&list=OLAK5uy_n-GDmisIU2eryUGLJJBl8TD0eHiiisVkI',
        }}
      />
    </BackgroundImage>
  </body>
</html>

<style>
  body {
    background-color: #000;
    color: #fff;
    background-repeat: repeat;
    background-size: 50%;
  }
</style>
