---
import { PlayerWrapper } from "../../components/mp3-player/Player";

---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
	<title>Crosssnow</title>
	</head>
	<body>
		<PlayerWrapper client:only songs={[{
			name: "Crosssnow",
			artist: "lebchen",
			src: "/crosssnow/01 lebchen - CrossSnow.mp3",
			duration: "02:17"
		},
		{
			name: "Fateful Chase",
			artist: "lebchen",
			src: "/crosssnow/02 lebchen - Fateful Chase.mp3",
			duration: "04:13"
		},
		{
			name: "Enter Josef",
			artist: "lebchen",
			src: "/crosssnow/03 lebchen - Enter Josef.mp3",
			duration: "00:57"
		},
		{
			name: "Robbery",
			artist: "lebchen",
			src: "/crosssnow/04 lebchen - Robbery.mp3",
			duration: "02:14"
		},
		{
			name: "Poor Rapists",
			artist: "lebchen",
			src: "/crosssnow/05 lebchen - Poor Rapists.mp3",
			duration: "02:00"
		},
		{
			name: "The Hitman",
			artist: "lebchen",
			src: "/crosssnow/06 lebchen - The Hitman.mp3",
			duration: "01:55"
		},
		{
			name: "Pornogris",
			artist: "lebchen",
			src: "/crosssnow/07 lebchen - Pornogris.mp3",
			duration: "04:37"
		},
		{
			name: "Afterglow Bliss",
			artist: "lebchen",
			src: "/crosssnow/08 lebchen - Afterglow Bliss.mp3",
			duration: "03:41"
		},
		{
			name: "Back Alley Brawl",
			artist: "lebchen",
			src: "/crosssnow/09 lebchen - Back Alley Brawl.mp3",
			duration: "04:40"
		},
		{
			name: "Torture",
			artist: "Cuneax",
			src: "/crosssnow/10 Cuneax - Torture.mp3",
			duration: "01:09"
		},
		{
			name: "Heartbroken",
			artist: "Cuneax",
			src: "/crosssnow/11 Cuneax - Heartbroken.mp3",
			duration: "01:01"
		},
		{
			name: "The Car Chase",
			artist: "lebchen",
			src: "/crosssnow/12 lebchen - The Car Chase.mp3",
			duration: "03:45"
		},
		{
			name: "Spenning",
			artist: "lebchen",
			src: "/crosssnow/13 lebchen - Spenning.mp3",
			duration: "04:19"
		},
		{
			name: "Fight Club",
			artist: "lebchen",
			src: "/crosssnow/14 lebchen - Fight Club.mp3",
			duration: "02:17"
		},
		{
			name: "Slip Into Nothing",
			artist: "lebchen",
			src: "/crosssnow/15 lebchen - Slip Into Nothing.mp3",
			duration: "03:43"
		},
		{
			name: "Sword Fight",
			artist: "lebchen",
			src: "/crosssnow/16 lebchen - Sword Fight.mp3",
			duration: "03:22"
		},
		{
			name: "Suspense",
			artist: "lebchen",
			src: "/crosssnow/17 lebchen - Suspense.mp3",
			duration: "01:13"
		},
		{
			name: "Le Malheureux",
			artist: "Lars-Erik Bruce",
			src: "/crosssnow/18 lebchen - Le Malheureux.mp3",
			duration: "03:57"
		}]} />
	</body>
</html>

<style>
	.body {
		background-color: #000;
		color: #fff;
	}
</style>