---
import { Links } from '../../components/Link/Links'
import LayoutPage from '../../layouts/LayoutPage.astro'
import Topstripe from '../../components/Topstripe.astro'
---

<LayoutPage
  title="Afterglow Bliss"
  description="A single from the upcoming album 'CrossSnow - The Original Motion Picture Soundtrack'"
>
  <Fragment slot="over-header">
    <Topstripe />
  </Fragment>
  <span class="title" slot="subtitle">by lebchen, featuring Ofat</span>
  <Links
    amazon="https://music.amazon.com/albums/B0DJRRLFHX"
    anghami="https://play.anghami.com/song/1180982887"
    apple="https://music.apple.com/us/album/afterglow-bliss-feat-ofat-single/1773432285"
    boomplay="https://www.boomplay.com/songs/185129468?from=artists"
    deezer="https://www.deezer.com/us/album/654626261"
    spotify="https://open.spotify.com/track/1ADAR7aiN2UcJsA0pUsTI8"
    tidal="https://tidal.com/browse/track/392319939"
    youtube="https://www.youtube.com/watch?v=cc9Qz8r5qMU"
  />
</LayoutPage>

<style>
  body {
    --headercard-background: rgba(204, 156, 94, 0.36)
  }
</style>